#abc{
    height: 100px;
    width: 100px;
    background-color: brown;
}
#abcd{
    height: 100px;
    width: 100px;
    background-color: rgba(219, 100, 255, 0.5);
    margin-left: 20px;
    margin-top: -60px;
}